.card{
    background-color: #0D7377;
    color: white;
    text-align: center;
    
}
.foot{
    background-color: #14FFEC;
    text-align: center;
    
}
.textfecha{
    color:#323232;

}
.background{
    background-color: #222831;
}
div p{
    color: white;
}

